@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alexandria';
    height: 100%;
    overflow: hidden;

}

.navbar{
    margin-top: 50px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar h1{
    font-size: 32px;
    font-weight: 400;
}

.options{
    display: flex;
    gap: 70px;
}

.options h4{
    font-size: 20px;
    font-weight: 400;
}

form{
    position: relative;
    display: flex;
    align-items: center;
}

form img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 10px;
}

.navbar input{
    padding-left: 50px;
    width: 230px;
    height: 41px;
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    outline: none;
    background-color: #F6F6F6;
}

.icons{
    display: flex;
    gap: 20px;
}

.container{
    display: flex;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px;
}

.login-form h1{
    font-weight: 400;
    font-size: 20px;
}



.choice h3{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
}


.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.upper h1{
    padding-bottom: 100px;
}

.login-form .choice{
    display: flex;
    flex-direction: row;
}

.login, .sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h3, .sign-up h3{
    padding-bottom: 20px;
}

.line, .line-choice{
    margin-bottom: 20px;
}

.line{
    width: 184px;
    border: 1px solid black;
}

.line-choice{
    width: 184px;
    border: 1px solid #DFDFDF;
}

.upper p{
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 40px;
}

.email-pass{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.email-pass input{
    border: none;
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 0px;
    font-size: 13px;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 4px;
}

.email-pass p{
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 20px;
}

.forgot-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.forgot{
    border: none;
    background: none;
    color: #505050;
    font-weight: 200;
    font-size: 13px;
}

.upper .signing{
    font-size: 11px;
    font-weight: 400;
}

.upper .login-button{
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    width: 100%;
    height: 37px;
    border-radius: 20px;
    margin-bottom: 120px;
}


.footer{
    color: #121212;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.auth-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 100px;
}

.auth-subtitle {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

.auth-subtext {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.title-select{
    width: 50%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.sign-up-button {
    width: 100%;
    height: 37px;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 25px;
    margin-bottom: 43px;
}

.upper .login-button:hover, .sign-up-button:hover {
    background-color: #333;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

/* Removes pop up rectangular appearance when filling out form */
input:focus, select:focus, button:focus {
    outline: none;
}